$primary-tone-1: #fcfcff;
$primary-tone-2: #f4f7fc;
$primary-tone-3: #acaebf;
$primary-tone-4: #6e6e7a;
$primary-tone-5: #00030f;

$orange-tone: #ffc966;

$green-tone-1: #a5d8a1;
$green-tone-2: #69ca66;
$green-tone-3: #2b5e25;

$red-tone-1: #f5a9a9;
$red-tone-2: #5e2626;
