@import "./../sass/variables";
@import "./../sass/mixins";

:host {
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  @include border-and-shadow($primary-tone-4, .5);
  @include color-and-background($primary-tone-1, $green-tone-2);
  @include transition;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  width: 20%;
  cursor: pointer;

  &:hover {
    @include hover-shadow;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    @include color-and-background(rgba($primary-tone-4, .5), rgba($primary-tone-3, .8));
    border: 1px solid rgba($primary-tone-3, .5);
    cursor: not-allowed;

    &:hover {
      box-shadow: 0 0 .8rem rgba($primary-tone-4, .5);
    }
  }
}

.msg {
  @include border-and-shadow($primary-tone-4, .2);
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  right: 1vw;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }

  &__body {
    font-size: 1.4rem;
    text-align: center;
  }

  &.success {
    @include color-and-background($green-tone-3, $green-tone-1);
  }

  &.error {
    @include color-and-background($red-tone-2, $red-tone-1);
  }
}
