@import "../../../sass/variables";
@import "../../../sass/mixins";

.calendar-day {
  @include border-and-shadow($primary-tone-3, .2);

  padding: 1rem;
  font-size: 1.2rem;
  width: 6.9rem;
  height: 6.9rem;
  background: $primary-tone-2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;

  &--last-month,
  &--next-month {
    background: rgba($primary-tone-3, .5);
    cursor: not-allowed;
  }

  &--current-month {
    @include transition;

    &:hover {
      @include hover-shadow;
    }
  }
}

.highlighted {
  background: $orange-tone;
}
