/* You can add global styles to this file, and also import other style files */
@import "sass/variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $primary-tone-2, $primary-tone-1);
}
