<div class="calendar-bar">
  <select class="selection-field">
    <option value="9" class="selection-field__option">October</option>
  </select>
  <select class="selection-field">
    <option value="2019" class="selection-field__option">2019</option>
  </select>
</div>

<div class="calendar">
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
  <app-calendar-day></app-calendar-day>
</div>
