@import "../../sass/variables";
@import "../../sass/mixins";

:host {
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
}

.form-field {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;

  &__input {
    @include border-and-shadow($primary-tone-4, .2);
    @include transition;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    width: 8.5rem;
    background: $primary-tone-1;

    &--number {
      padding-left: 2.2rem;
    }

    &:focus {
      @include hover-shadow;
    }
  }

  &__label {
    text-align: center;
    font-size: 1.2rem;
  }
}

.date-input, .time-input {
  margin: 0 2rem;
  display: flex;
}
