<div class="date-input">
  <div class="form-field">
    <label for="day" class="form-field__label">Day</label>
    <input type="text" id="day" class="form-field__input" placeholder="Day">
  </div>
  <div class="form-field">
    <label for="month" class="form-field__label">Month</label>
    <input type="text" id="month" class="form-field__input" placeholder="Month">
  </div>
  <div class="form-field">
    <label for="year" class="form-field__label">Year</label>
    <input type="text" id="year" class="form-field__input" placeholder="Year">
  </div>
</div>

<div class="time-input">
  <div class="form-field">
    <label for="hours" class="form-field__label">Hours</label>
    <input type="text" id="hours" class="form-field__input" placeholder="Hours">
  </div>
  <div class="form-field">
    <label for="minutes" class="form-field__label">Minutes</label>
    <input type="text" id="minutes" class="form-field__input" placeholder="Minutes">
  </div>
</div>
